{% extends "sci_home_2023/layout/_base.html" %}
{% load static %}

{% block content %}
<div class='w-full max-h-[600px] bg-zinc-200 dark:bg-gray-700 flex flex-col justify-between'>
    <div class='grid md:grid-cols-2 mx-auto max-w-[1600px] px-10'>
        <div class='flex flex-col justify-center md:items-start w-full px-2 py-8'>
            <p class='text-2x mt-15'></p>
            <h1 class='py-3 text-2xl md:text-2xl font-bold mt-15 text-left dark:text-white'>AI for Automatic Content Generation</h1>
            <p class='text-md tracking-wide my-15 max-w-[850px] prose'></p>
            <Link to="">
            <a href="/contact" class='text-white border bg-indigo-600 border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md py-3 px-6 md:w-[200px%] my-4'>Learn more</a>
            </Link>
        </div>
        <div>
        <img class='w-full h-[350px] object-cover' src='{% static "media\cg.jpg" %}' autoplay="" muted="'" loop="'true" />
        </div>
    </div>
</div>

<div class='w-full bg-zinc-100 dark:bg-gray-900 flex flex-col justify-between items-center border-b-4'>
    <div class='mx-auto max-w-[1080px] px-10 prose'>
        <div class='flex flex-col justify-center md:items-start w-full px-2 py-8 dark:text-gray-300'>
            <h1 class='py-3 text-2xl md:text-2xl font-bold mt-15 text-left prose-headings dark:text-white'>AI for Automatic Content Generation</h1>
            <p class='tracking-wide my-15 prose dark:text-gray-300 text-lg leading-relaxed'>Currently human knowledge and the information produced by human in the forms
                of text, audio, video or multimedia contents are stored in vast repositories of corporate data centers, digital libraries,
                search engines, and storages of individual computer servers. The only effective tool at the disposal of a knowledge seeker
                professional for attaining knowledge or information is the service of search engines that provide a great many number of
                webpages and documents related to a keyword and a subject matter.
                <br><br>
                    Internet has provided a long awaiting tool for connection and communication of people around the world. One of the most important applications and implication of Internet is its use in 
                    enhancing ideas and rapid information exchange between people or groups of people with similar interests. Such growing interest has created many applications and systems for group 
                    discussions and question answering, such as wikipedia, search engines, photo and video sharing, numerous portals, discussion groups, and the like. These systems and applications have 
                    accelerated knowledge discovery, creation of artistic contents, producing novel and useful inventions, and in general advancement of our understanding of the universe around us. <br> <br>
                    
                    
                    SCI is introducing AI assisted content generation system and method is presented for knowledge discovery that incorporates both human and computers to index, process, and communicate and 
                    share the knowledge and electronic contents. It also provides a platform for launching unlimited number of qualified and content reviewed publishing/broadcasting ventures or artificial 
                    beings. The system assists individuals for faster and more efficient discovery/creation of new and useful knowledge, and valuable artistic content. It also provides incentives to the 
                    owners of the ventures and a method for rewarding or compensating all contributors. <br><br> Most of the knowledge sharing and contributions, on or over the Internet, 
                    are arbitrary qualified, it takes time for general public to come to a robust and lasting understanding of a subject, or appreciation of a content. Therefore, the vast amount of data, 
                    that is being generated daily, has to be filtered out over a relatively long period of time by collective wisdom of public before it can be used. While in most subject matters of general 
                    public interest, ordinary people may contribute to the subject and let the fact and best solution to be found overtime, these unsupervised method of general public understanding growth 
                    lacks the rigor and credibility that is needed for a real advancement of public well being. The rigor and credibility only comes after a relatively long period of time. <br> <br> Mostly 
                    the information available through Internet needs further verification and research by the consumer and this could be time consuming and frustrating. The process of peer reviewed scientific 
                    contribution publication, on the other hand, has the rigor and substance and therefore the credibility that is needed for true advancement of human knowledge, nevertheless it is a very 
                    slow process and does not present the speed and ease of accessibility that is necessary to tap into the vast potential of general public brain power and knowledge. Editors and reviewers 
                    of scientific journals do not have much incentive to serve unknown ordinary contributors. <br> <br> Moreover, naturally, they do not have the resources or 
                    expertise to find and cover all the subject matters of importance and assess and investigate all submitted contents. Therefore there is a need in the art to have a system that, 
                    automatically or semi-automatically, can assist both publication/broadcasting administration and contributors to screen and assess all submitted contents in terms of their intrinsic 
                    value and substance before being viewed or used by public, without posing the above mentioned constraints. It is also desirable to have a system that can systematically guide users, 
                    through their research to discover, innovate, create, and make valuable contributions. It is also advantageous to have a central system that allow all the qualified experts launch their 
                    own publication/broadcasting ventures with the least amount of investment and overhead for commercial gain thereby accelerating the rate of knowledge discovery, knowledge distillation, 
                    and economic growth. <br> <br> In this application a system and method is presented for knowledge sharing and discovery by analyzing the content of online repositories, building an 
                    association database of ontological subjects, and solicitation of electronic contents in the form of a text, audio, or video and any combination of them. The system and method can assist 
                    and guide the users and creators, regardless of their level of knowledge, to being able to make valuable contributions, while shortening the research and creation time 
                    significantly. The shared knowledge is peer reviewed by authorities in each subject so that their quality and substance is more reliable than arbitrary qualified contents presently 
                    available in the Internet. <br> <br> The system is comprised of information processing units in the form of hardware and software that are connected to the Internet by communication means. 
                    The processing units can be comprised of electronic hardware such as CPUs (central processing units) memories, and software in the form of specialized programs and algorithms, and 
                    intelligent agent program, in any applicable computer language. The processing units or processing devices (e.g. CPUs) must be able to handle large collections of data. Therefore the 
                    computing units, or data processing devices, to implement the system have compound processing speed equivalent of one thousand million or larger than one thousand million instructions 
                    per second and a collective memory, or storage devices (e.g. RAM), that is able to store large enough chunks of data to enable the system to carry out the task and decrease the processing 
                    time significantly compared to a single generic personal computer available at the time of the present disclosure.” <br> <br> It is also very desirable to enable a data processing system, 
                    such as a computer system comprise of data processing or computing devices/units, data storage units/devices, and/or environmental data acquisitions units/devices, 
                    and/or data communication units/devices, and/or input/output units/devices, and/or limbs, to learn as much information and gain knowledge/data by processing compositions of data of various 
                    forms and/or become able to produce new knowledge and useful data or compositions of data and/or autonomous decision making according to some codes of conducts. <br> <br> Such an enabled 
                    machine would be of an immense assistance to the development of human civilization much further and much faster leading to abundance, economic prosperity, biological and mental health, 
                    and well-being of society. Accordingly and, for instances, in applications such as question answering, knowledge retrieval, or machine learning from a knowledge database or knowledge 
                    repositories or data warehouses or streams, one need to know what are there to know at first and then looking for how they are related in order to build and enrich the knowledge base that 
                    is able to serve a client satisfactorily. <br> <br> Currently, for instance, there is no systematic way of building such a database or general ontology consisting of statements of verified 
                    facts. The few attempts to build such useful databases are based on human labor or complicated reasoning and first order logic framework, rather than a systematic and automatic way of 
                    finding the distilled knowledge from the vast repositories of human generated data available over the internet or other data warehouses. In building the 
                    system software agents are used to find important subject matters/fields of interest by looking up into a list of subjects gathered from various sources such as lexicons, ontologies, 
                    dictionaries, special dictionaries, and searching through Internet and counting and ranking the importance of a subject by counting the number of documents containing that subject or any 
                    other ranking methods for concepts. At the same time the software agent is looking for proper names and affiliations and addresses that are associated with the subject and ranking them 
                    accordingly based on their level of authority. <br> <br> Alternatively the system finds the subjects of importance and interests and the associated experts by directly searching through 
                    readily available databases where it can find the desired information such as university URLS, specialized professional associations, who's who, and all online publication collections 
                    available. The system then assigns appropriate names or titles for such subject matters and makes a list of available subjects and titles as candidate name for publication/broadcasting 
                    shop to be used for subscription and running by users. In the preferred embodiment, the system further provides an online publishing/broadcasting format/s for each subject matter in the 
                    form of online journals or knowledge sharing groups, interactive conferences, broadcasting templates and the like, which is called a publishing/broadcasting 
                    shop in this application. <br> <br> The system further contains a database of authorities' experts in each subject matter for consultation and reviewing. Users, who want to establish their 
                    own online publishing/broadcasting shop, then may apply to subscribe or buy online publishing/broadcasting shop's title/s among the topics and titles available. Alternatively the system 
                    accepts suggestion from interested users or subscriber to open a shop with their own suggested title or name. Interested users can include individuals, legal entities, a group of individuals 
                    as well as computer agents. The system will grant the privilege of establishing an online publication/broadcasting shop according to the system's predetermined standards. <br> <br> 
                    Once the application is approved and a title of publishing/broadcasting shop is assigned to the user the owner of the online shop can use the service of the system and start soliciting and 
                    providing the service to her/his group of people interested in that subject matter. To assist the editors and contributors, reviewers, and users, the system has a distilled universal 
                    repository of human knowledge that is called Ontological Subject Map (OSM) in this application. The OSM is used to screen, evaluate, guide and assist, and measure the value of a submitted 
                    content, its novelty, and overall merit of a contribution. By consulting the OSM the system can pose useful questions and make intelligent suggestions and 
                    guides for further research or clarification.
                </p>
            </div>
    </div>
</div>


{% endblock content %}