<!-- templates/_base.html -->

{% extends "sci_home_2023/layout/_base.html" %}
{% load static %}

{% block content %}
<div class='w-full max-h-[600px] bg-zinc-200 dark:bg-gray-700 flex flex-col justify-between'>
    <div class='grid md:grid-cols-2 mx-auto max-w-[1600px] px-10'>
        <div class='flex flex-col justify-center md:items-start w-full px-2 py-8 '>
            <p class='text-2x mt-15'></p>
            <h1 class='py-3 text-2xl md:text-2xl font-bold mt-15 text-left dark:text-white'>Knowledgeable Machine</h1>
            <p class='text-md tracking-wide my-15 max-w-[850px] prose dark:text-gray-300'></p>
            <a href="/contact" class='text-white border bg-indigo-600 border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md py-3 px-6 md:w-[200px%] my-4'>Learn more</a>
        </div>
        <div>
        <img class=' object-cover' src='{% static "media\km3.png" %}' autoplay="" muted="'" loop="'true" />
        </div>
    </div>
</div>

<div class='w-full bg-zinc-100 dark:bg-gray-900 flex flex-col justify-between items-center border-b-4'>
    <div class='mx-auto max-w-[1080px] px-10 prose'>
        <div class='flex flex-col justify-center md:items-start w-full px-2 py-8 dark:text-gray-300'>
            <h1 class='py-3 text-2xl md:text-2xl font-bold mt-15 text-left prose-headings dark:text-white'>Knowledgeable Machine</h1>
            <p class='tracking-wide my-15 prose dark:text-gray-300 text-lg leading-relaxed'>1. How does one qualify a person as knowledgeable in their area of expertise (while there is no clear definition and measurable metrics for quantifying knowledgeability of a person)<br><br>
                2. Moreover, human experts most often are prone to not being able to perform their job ideally due to the human limitation in processing power, memory recollection, and lifespan, etc.
                <br><br>
                The question is how one recognizes another as knowledgeable? This could come to mind that A knowledgeable machine
                 or system can speed and increase the accuracy of the processes research, knowledge discovery, investigations, decision making, and construction of intelligent systems 
                 in general. To achieve and arrive at such systems, it is important to identify the role of concepts, entities, any force, and their relations in one or more system of 
                 knowledge. By the system of knowledge we mean a body of knowledge in any field, narrow or wide. For instance a system of knowledge can be defined about the process of 
                 stem cell differentiation. In this example there are many unknowns that are desired to be known. So consider someone has collected many or all textual compositions about 
                 this subject. Apparently the collections contains many useful information about the subject that are important but can easily be overlooked by a human due to the limitations 
                 of processing capability and memory capacity of individuals' brains. Moreover any system, simple or complicated, can be identified and explained by its constituent
                  parts and the relation between the parts. Additionally, any system or body of knowledge can also be represented by network/s or graph/s that shows the connection and 
                  relations of the individual parts of the system. The more accurate and detailed the identification of the parts and their relations the better the system is defined and 
                  designed and ultimately the better the corresponding tangible systems will function. .example attvc <br><br>

                  Knowledgeable machines and systems can greatly improve processes such as research, knowledge discovery, investigations, decision making, and building intelligent systems. To achieve this, 
                  it is important to understand the concepts, entities, and relationships within a system of knowledge. A system of knowledge refers to a body of knowledge in any field, whether narrow or wide. 
                  For example, a system of knowledge can be defined about the process of stem cell differentiation. There is often a lot of useful information in this subject that can easily be overlooked by 
                  humans due to limitations in processing and memory capacity.
                  <br><br>
                  Any system, simple or complicated, can be understood by identifying its parts and the relationships between those parts. Additionally, any system or body of knowledge can be represented 
                  by networks or graphs that show the connections and relationships between the parts. The more accurate and detailed the identification of the parts and their relationships, the better the 
                  system will be defined and ultimately function.
                  <br><br>
                  Most of the information about any type of existing or new systems can be found in vast bodies of unstructured, dispersed, and unclear text. Therefore, it is desirable to have methods, 
                  systems, and apparatuses that can identify any system or body of knowledge by identifying the most valuable and significant parts in that system along with various types of their 
                  relationships. In other words, it is highly desirable to find out the "value significances" and relations or associations of parts and partitions of a system or body of knowledge.
                  <br><br>
                  The disclosed method and system can greatly speed up the research process and knowledge discovery by guiding users to understand the importance of each part in a system. This allows for 
                  a more systematic and automated approach to dealing with all parts of the system based on their importance or other predetermined criteria.
                  <br><br>
                  There are many potential applications for such methods and systems. For example, after a conference with many expert participants and presenting papers, one could use the system to find 
                  the most important subjects and concepts, their associations and interrelations, and draw conclusions or guide future research. This would be a difficult task for someone without a lot of 
                  experience and knowledge in the field. Another example would be a market research analyst who is assigned to find the real value of an enterprise by researching various sources of 
                  information and ranking the enterprise among its competitors by identifying the strengths and weaknesses of its parts.
                  <br><br>
                  Additionally, many other applications such as search engines, summarization, and distillation can be improved and benefit from having an estimation of the importance of the parts of a 
                  body of knowledge.
                  <br><br>
                  The patent application "System and Method of Ontological Subject Mapping for Knowledge Processing Applications" (Ser. No. 12/547,879) by the same applicant, describes a method and system 
                  that transforms information from compositions into representative graphs called "Ontological Subject Maps (OSM)". These maps are useful for graphically representing a body of knowledge 
                  and evaluating the importance of the individual parts of the knowledge, called Ontological Subjects (OSs). However, the algorithm and method require a significant amount of processing power 
                  when the number of OSs becomes large.
                  <br><br>
                  In the patent application "Semantic Coverage Extent Number (OSEN)" (Ser. No. 12/755,415) by the same applicant, a method was introduced to calculate the importance or significance of the 
                  parts and partitions of a composition using a measure called the "Semantic Coverage Extent Number (OSEN)". This method transforms the information of an input composition into numerical 
                  matrices called "Participation Matrices (PMs)", from which the similarities of Ontological Subjects (OSs or partitions of the composition) can be estimated. This method is effective in 
                  evaluating the importance of the partitions of a composition, but it can be improved upon.
                  <br><br>
                  This disclosure introduces various "Value Significance Measures (VSMs)" which are regarded as the intrinsic and signs of significance of an ontological subject within the composition 
                  that the OS has appeared. These significance measures are interpreted as the semantic importance, economical value, market value or market price, influence and importance of a feature 
                  or functional significance in a complex system including man-made or biological systems, all types of multimedia compositions and their representation be it electrical signal representation 
                  or otherwise.
                  <br><br>
                  The method transforms the information of compositions of ontological subjects into matrices and the graphs or networks corresponding to the proposed matrices. Since the OS can refer to 
                  any and all the things in the universe, the resultant graph can be applied to any graphs of entities such as social networks, networks of players and products and concepts in a particular 
                  industry, genomics, compositions of genetic codes, or any particular area of knowledge and science etc. In similar manner any composition of Ontological subjects can be viewed as a social 
                  network or vice versa which is important to evaluate the value of each member or any sub-group member of the network in order to analysis and process other features of interest such as 
                  influence, economical value, likelihood of new discovery, knowledge discovery, new composition generation, summarization, distillation, search engines, keyword identification, and the like.
                  <br><br>
                  This passage explains how the "Value Significance Measures (VSM)" of Ontological Subjects (OSs) in a textual composition can be calculated using a method called "Participation Matrix (PM)". 
                  The method involves breaking down a high-order OS, such as a text composition, into its lower-order constituent OSs, and then constructing at least one PM by indicating the participation of 
                  a number of lower-order OSs into a number of higher-order OSs. The PMs offer a number of advantages, including versatility, ease of storage and efficient numerical processing for natural 
                  language or ontological subject processing applications.
                  <br><br>
                  One example of using PMs is to obtain the co-occurrences of each pair of OSs in the partitions of the composition. Another example is to introduce an "Association Strength Matrix (ASM)" 
                  which is a function of co-occurrence of each two OSs divided by the ratio of their probability of occurrences in the composition. The ASM can be represented graphically by an asymmetric and 
                  directed graph and network of OSs.
                  <br><br>
                  Additionally, the method also introduces the concept of "Differential Conditional Entropy Measure (DCEM)" which is an indication of the informational contribution of each OS by considering 
                  the difference between the conditional entropy of each OS given the rest of the participant OSs of the composition, and the conditional entropy of the rest of the participant OSs given the 
                  ith OS.
                  <br><br>
                  The invention is a method and system for evaluating the importance of different parts in a system or body of knowledge. It does this by first breaking down the system into smaller parts, 
                  called "Ontological Subjects" (OSs), and then analyzing the relationship between these parts to determine their significance. This is done by creating a "Participation Matrix" that shows 
                  how often each OS appears in different parts of the system. From this matrix, an "Association Strength Matrix" is created to show the strength of the relationship between different OSs. 
                  This matrix is used to calculate "Value Significance Measures" (VSMs) for each OS, which can be used to determine the importance of that OS in the system. The VSMs can be used in a variety 
                  of applications, such as web page ranking, document clustering, and knowledge discovery. The invention also includes a system that uses computer hardware, software, and internet infrastructure 
                  to perform these calculations and provide services to a user.
                  <br><br>

                <span class='font-semibold underline'>Knowledgeable Machine is assisting Ip professional </span>
                
                <br>
                It would be desirable to augment and assist human experts with the machines to perform their job more thoroughly effectively. Such machines should possess a knowledgeable person's attributes 
                such as possessing real knowledge of the field and a certain level of cognition. Apparently, a technology to build such machines, falls into the realm of artificial intelligence (AI). These 
                knowledge workers spend a lifetime to become an expert in the field of their study. Furthermore, these Knowledgeable beings or machines are desirable because a knowledgeable being or a machine 
                is the mother of artificial intelligence. Now, Artificial Intelligence aims to assist in performing such human activities much faster and cheaper due to machines processing power and unlimited 
                lifespan (cloud).
            </p>
        </div>
    </div>
</div>


{% endblock content %}
