{% load static %}

    <div class="w-full mx-auto">
        <section class="flex flex-col justify-center antialiased  text-gray-900 dark:bg-gray-800 dark:text-white min-h-[540px]">
            <a href="contentpage">
            <article class="mx-auto grid lg:grid-cols-2 gap-6 lg:gap-12 xl:gap-16 items-center ml-5 mr-5 mt-10 mb-10 ">
                <div class="lg:hidden relative block group">
                        <img class="inset-0 object-cover h-[350px] w-full overflow-hidden" src='{% static "media\cg.jpg" %}' width="540" height="400" alt="Blog post"/>
                </div>
                <div class=''>
                        <h3 class="text-2xl lg:text-3xl font-bold leading-tight tracking-wide mb-2">AI for Automatic Content Generation</h3>
                    <p class="text-gray-500 font-poppins text-lg leading-relaxed dark:text-gray-300 text-justify">"The current automatic content generation method and systems are not able to preserve the context and substance nor can they represent the real significant essence of a body of knowledge. "</span><br><br>
                        Currently human knowledge and the information produced by human in the forms of text, audio, video or multimedia contents are stored in vast repositories 
                        of corporate data centers, digital libraries, search engines, and storages of individual computer servers. The only effective tool at the disposal of a 
                        knowledge seeker professional for attaining knowledge or information is the service of search engines that provide a great many number of webpages and 
                        documents related to a keyword and a subject matter.
                    </p>
                    </div>
                <div class="hidden relative lg:block group">
                        <img class="inset-0 object-cover h-[350px] w-full overflow-hidden" src='{% static "media\cg.jpg" %}' width="540" height="400" alt="Blog post"/>
                </div>
            </article>  
        </a>
        </section>
        <div class="p-4  text-gray-900 lg:w-3/4 mx-auto">
          
            <hr>  
         </div>
    </div>
    