{% load static %}

<div class="w-full mx-auto">
    
    <section class="flex flex-col justify-center antialiased bg-white text-gray-900 min-h-[540px] dark:bg-gray-800 dark:text-white ">
        <a href="/geneticspage">
        <article class="mx-auto grid lg:grid-cols-2 gap-6 lg:gap-12 xl:gap-16 items-center ml-5 mr-5 mt-10 mb-10">
                    <img class="inset-0 object-cover h-[350px] w-full overflow-hidden" src='{% static "media\DNA.jpg" %}' width="540" height="303" alt="Blog post"/>

            <div class=''>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight tracking-wide mb-2">AI Genetics</h3>
                <p class="text-gray-500 font-poppins text-lg leading-relaxed dark:text-gray-300 text-justify">
                    Experts anticipate that effective treatment outcomes can be obtained if genomic information that leads to treatment is obtained through testing.
                    Artificial intelligence (AI) has the potential to greatly enhance and accelerate genome research, providing insights and solutions that may not be possible with traditional methods. Using AI in genome research 
                    is its ability to analyze and interpret vast amounts of data quickly and accurately. This can allow researchers to identify patterns and correlations that may not be immediately apparent. Overall, the use of AI 
                    in genome research holds great promise for advancing our understanding of genetics and improving human health.</p>
            </div>
        </article>
    </a>
    </section>
    <div class="p-4  text-gray-900 lg:w-3/4 mx-auto">
      
        <hr>  
     </div>
</div>
