{% load static %}


<a href="/" class="flex items-center">
    <img src='{% static "media\logo.png" %}' class="h-14 dark:border-2 dark:border-white dark:rounded-full" alt="Logo">
    <article class="max-w-none ml-2">
    <span class="self-center whitespace-nowrap dark:text-white text-center lead text-lg font-semibold tracking-[0.8px]">Science Counter Inc.</span>
    <span class="-mt-1 text-sm block font-normal lead italic tracking-[0.8px] dark:text-white">The context of universe ™</span> 
    </article>
</a>
