{% load static %}

<div class="w-full mx-auto">
    <section class="flex flex-col justify-center antialiased text-gray-900 dark:bg-gray-800 dark:text-white min-h-[540px]">
        <a href="medicalpage">
        <article class="mx-auto grid lg:grid-cols-2 gap-6 lg:gap-12 xl:gap-16 items-center ml-5 mr-5 mt-10 mb-10 ">
            <div class="lg:hidden relative block group">
                    <img class="inset-0 object-cover h-[350px] w-full overflow-hidden" src='{% static "media\msr.jpg" %}' alt="Blog post"/>
            </div>
            <div class=''>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight tracking-wide mb-2">AI Assisted Medical</h3>
                <p class="text-gray-500 font-poppins text-lg leading-relaxed dark:text-gray-300 text-justify">"Medical knowledge is vast, yet, the true medical knowledge is scarce"</span><br><br>
                    Artificial intelligence (AI) is being increasingly utilized in the medical field to help improve patient care and streamline various processes. 
                One way it is being used is through the development of diagnostic tools that can analyze medical images and identify abnormalities that may indicate a specific condition or disease. This can help doctors to make more 
                accurate and faster diagnoses, particularly in cases where a condition may not be immediately apparent. AI is also being employed to analyze patient data, including electronic medical records, lab results, and other 
                information, to identify patterns and predict outcomes, allowing for more personalized treatment plans. Additionally, AI is being utilized to assist with administrative tasks, such as scheduling and insurance processing, 
                which can free up healthcare professionals to focus more on patient care.</p>
                </div>
            <div class="hidden relative lg:block group">
                    <img class="inset-0 object-cover h-[350px] w-full overflow-hidden" src='{% static "media\msr.jpg" %}' width="540" height="400" alt="Blog post"/>
            </div>
        </article>  
    </a>
    </section>
    <div class="p-4  text-gray-900 lg:w-3/4 mx-auto">
      
        <hr>  
     </div>
</div>
