

<section class="flex flex-col items-center justify-center pt-[100px]">
    <div class="text-center max-w-[778px] mb-[72px] mx-5">
        <h1 class="headline_type-1 text-center bg-clip-text mb-[24px] sm:mb-[36px] font-poppins text-2xl">
            Science-Counter Inc (SCI) is a research and product development company and An Artificial Intelligence Laboratory. SCI, since its official inception in 2008, has been involved and working towards constructing a Consistent Theory of 
            <span class="text-red-600 font-bold hover:text-white hover:underline"> Artificial Intelligence as a Scientific Discipline</span> 
            and introduction of new products and services.
        </h1>
        <nr-sticky-incline-nav class="mb-6 gap-x-12 flex flex-row justify-center">
            <a href="" class="font-poppins text-lg text-blue-500 inline-block">About</a>
            <a href="" class="font-poppins text-lg text-blue-500 inline-block">Products</a>
            <a href="" class="font-poppins text-lg text-blue-500 inline-block">History</a>
        </nr-sticky-incline-nav>
    </div>
</section>