{% load static %}
{% block content %}

<div class="mx-auto bg-gray-100 dark:bg-gray-900 mt-10 ">
    <div class="max-w-[490px] mx-auto bg-gray-100 lg:max-w-[1192px]">
    <section class="flex flex-col justify-center antialiased bg-white hover:bg-gray-200 text-gray-900 max-w-[1200px] dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white min-h-[540px]">
        <a href="medicalpage">
        <article class="mx-auto grid lg:grid-cols-2 gap-6 lg:gap-12 xl:gap-16 items-center ml-5 mr-5 mt-10 mb-10 ">
            <div class="lg:hidden relative block group">
                <figure class="relative mt-10 lg:mt-0 h-0 pb-[56.25%] lg:pb-[56.25%] overflow-hidden">
                    <img class="absolute inset-0 w-full h-full object-cover" src='{% static "media\msr.jpg" %}' width="540" height="303" alt="Blog post"/>
                </figure>
            </div>
            <div class=''>
                <header>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight mb-2">
                        <div class="hover:text-gray-900 transition duration-150 ease-in-out">AI Assisted Medical</div>
                    </h3>
                </header>
                <p class="text-gray-500 font-poppins text-lg leading-relaxed dark:text-gray-300 text-justify">"Medical knowledge is vast, yet, the true medical knowledge is scarce"</span><br><br>
                    To investigate scientific medical content and gain knowledge from the vast body of data available in medical science, human brain processing power and the limited time in a life span</p>
                </div>
            <div class="hidden relative lg:block group">
                <figure class="relative mt-10 lg:mt-0 h-0 pb-[56.25%] lg:pb-[56.25%] overflow-hidden">
                    <img class="absolute inset-0 w-full h-full object-cover" src='{% static "media\msr.jpg" %}' width="540" height="303" alt="Blog post"/>
                </figure>
            </div>
            
        </article>  
    </a>
    </section>
    </div>
</div>

{% endblock content %}