<!--users/templates/registration/password_reset_done.html-->

{% extends "sci_home_2023/layout/_base.html" %}
{% load static %}

{% block content %}

<section class="bg-white dark:bg-gray-900 mt-10">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Password reset done</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">An email will be sent to you</p>
        <a href="/accounts/login">Back to login</a>
    </div>
</section>
<script>
    setTimeout('Redirect()', 3000);
function Redirect() 
{  
    window.location="/"; 
} 
</script>
  
  {% endblock content %}